@model IEnumerable<webapp.Models.ViewModels.AgentBusinessData>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Firmy ze statusem żółtym</h3>
            </div>
        </div>
        @foreach (webapp.Models.ViewModels.AgentBusinessData data in Model)
        {
            if (data.Businesses.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-8">Nazwa</th>
                        </tr>
                    </thead>
                    @foreach (var name in data.Businesses)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(name.Name, "ClientDetails", new { controller = "Client", id = name.Id })
                            </td>
                        </tr>
                    }
                </table>
            }
        }
    </div>
    <div class="col-md-2"></div>
</div>