@model IEnumerable<webapp.Models.Distributor>
@{
    ViewBag.Title = "Mapa - dystrybutorzy";
}

<div class="row">
    <div class="col-md-3">
        Wybierz dystrybutora:
    </div>
    <div class="col-md-9">
        <select class="form-control" id="distributor">
            <option value="0"></option>
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.City - @item.Name</option>
            }
        </select>
    </div>
</div>
<br />
<div class="map_container">
    <div id="map_canvas" class="map_canvas"></div>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    var markers = [];
    var map;
    var infowindow = null;
    $(document).ready(function () {
        initialize();
        $("#distributor").on("change", function () {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = [];
            if (this.value != 0) {
                $.post("/Client/GetClientsWithDistributor", { distributorId: $("#distributor").val() }, function (data) {
                    $.each(data, function (index, val) {
                        var latlong = new google.maps.LatLng(val.Lat.replace(',', '.'), val.Lng.replace(',', '.'));
                        var marker = new google.maps.Marker({
                            position: latlong,
                            map: map,
                            title: val.Name
                        });
                        google.maps.event.addListener(marker, "click", function () {
                            infowindow.setContent("<div id='info_content'>" + val.Name + "<br/><a href='/Client/ClientDetails/" + val.Id + "'>Szczegóły</a></div>");
                            infowindow.open(map, this);
                        });
                        markers.push(marker);
                    });
                }, 'json');
            }
        });
    });
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(52, 20, 21),
            zoom: 6,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"),
          mapOptions);
        infowindow = new google.maps.InfoWindow({
            content: "",
            maxWidth: 600
        });
        // create a marker
        //var latlng = new google.maps.LatLng(6.9167, 79.8473);
        // var marker = new google.maps.Marker({
        //     position: latlng,
        //     map: map,
        //      title: 'My Place'
        // });
    }
</script>  